* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

@page {
   size: A4 portrait;
   margin: 10mm;

   @bottom-center {
     content: counter(page);
   }
   @top-right-corner {
     content: element(header);
   }
}

@page:left{
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
}

body {
	background: none;
	font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

#page-header {
  position: running(header);
}

.page-break {
  page-break-after: always;
}

.front-page {
  h1{
    font-size: 40pt;
    padding-top: 140mm;
    color: #285086;
  }
  page-break-after: always;
}

.cart-page {
  table{
    width: 100%;
  }
  page-break-after: always;
}

.item {
  page-break-inside: avoid;
  td{
    vertical-align: top;
    font-size: 10pt;
    padding: 2mm;
  }
}

