<div class="my-orders-table-order">
  <div class="row">
    <div class="col-sm-2 col-xs-4">
      <span>{{item.position}}</span>
    </div>
    <div class="col-sm-2">
      <span>{{item.sku}}</span>
    </div>
    <div class="col-sm-6">
    	{{item.name}}
    </div>
    <div class="col-sm-2 col-xs-4 text-right">
        <a href="#" class="btn btn-default">Add</a>
    </div>
  </div>
</div>
