<div id="my-account-desktop-content" class="col-xs-12">
	<div class="my-orders-content">
		<div class="my-orders-table-wrapper">
			<div class="row">
				<div class="col-sm-2 hidden-xs">
					<div class="my-orders-table-titles">
					&nbsp;
					</div>
				</div>
				<div class="col-sm-2 col-xs-4">
					<div class="my-orders-table-titles">
					{{i18n "catalog:variants.tableHeaderArticleNumber"}}
					</div>
				</div>
				<div class="col-sm-2 hidden-xs">
					<div class="my-orders-table-titles">
					{{i18n "catalog:variants.tableHeaderColor"}}
					</div>
				</div>
				<div class="col-sm-2 col-xs-4">
					<div class="my-orders-table-titles">
					{{i18n "catalog:variants.tableHeaderVrg"}}
					</div>
				</div>
				<div class="col-sm-2 hidden-xs">
					<div class="my-orders-table-titles">
					{{i18n "catalog:variants.tableHeaderAvailability"}}
					</div>
				</div>
				<div class="col-sm-2 col-xs-4">
					<div class="my-orders-table-titles">
					&nbsp;
					</div>
				</div>
			</div>
		</div>
		{{#each content.variants.list}}
			{{> catalog/pdp/product-table-item item=this index=@index}}
		{{/each}}
	</div>
</div>