<div class="col-xs-12">
	<ul class="geberit-list geberit-list_columns">
		{{#each productdeliverycontents.included}}
		<li>
		  {{this}}
		</li>
		{{/each}}
	</ul>

	<div class="alert alert-info">
		
		{{#each productdeliverycontents.notIncluded}}
		<p>
		  {{this}}
		</p> 
		{{/each}}
		
	</div>
</div>