<div class="row">
  <div class="col-sm-12" align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nN68EcX65-M" frameborder="0" allowfullscreen></iframe>
  </div>
</div>