<div class="col-md-7 col-sm-6">
  {{> catalog/pdp/product-gallery gallery=product.gallery}}
</div>
<div class="col-sm-5 product-description">
  <div class="row">
    <div class="col-sm-12">
      {{> catalog/product-name}}
    </div>
  </div>
  

  <div class="row">
    <div class="col-sm-12">
      {{> catalog/pdp/product-top-applications topApplications=product.topApplications}}
    </div>
  </div>
  {{> catalog/add-to-cart}}


  <div class="row">
    <div class="col-sm-12">
      {{> catalog/pdp/product-social}}
    </div>
  </div>
</div>
